<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">  </head>
    <title>ToDo List</title>
    <head>
</head>
  <body>
  <div class="container my-4">
  <form action="/add" method="POST">
      <div class="mb-3">
        <label for="baslik" class="form-label">Başlık</label>
        <input type="text" class="form-control" name="baslik" id="baslik" placeholder="Başlık Giriniz...">
      </div>
      <div class="mb-3">
        <label for="aciklama" class="form-label">Açıklama</label>
        <input type="text" class="form-control" name="aciklama" id="aciklama" placeholder="Açıklama Giriniz...">
      </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="true" name="status" id="status">
        <label class="form-check-label" for="status">
          Aktif mi ?
        </label>
    </div>
    <br>
      <button type="submit" class="btn btn-primary">Kaydet</button>
    </form>
  </div>
  <div class="container my-3">
      <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Başlık</th>
      <th scope="col">Açıklama</th>
      <th scope="col">Durum</th>
    </tr>
  </thead>
  <tbody>
    {% for todo in todo_list %}
      <tr>
        <th scope="row">{{ loop.index }}</th>
        <td>{{ todo.title }}</td>
        <td>{{ todo.desc }}</td>
        <td>
          {% if todo.complete_status %}
              Yapıldı
          {% else %}
              Yapılmadı
          {% endif %}
        </td>
        <td>
        <form action="{{ url_for('delete_todo', todo_id=todo.pk_id) }}" method="post" style="display: inline;">
          <button type="submit" class="btn btn-warning">
            Sil
          </button>
        </form>
        <form action="{{ url_for('status', todo_id=todo.pk_id, current_status=todo.complete_status) }}" method="post" style="display: inline;">
          <button type="submit" class="btn btn-info">
            Durumu Değiştir
          </button>
        </form>
        <td/>
    {% endfor %}
  </tbody>
</table>

  </div>
  </body>
</html>